*~
Makefile.in
Makefile

favicon.ico

# BUILT_INCL_FILES
AWG.incl
permeability.incl
permitivity.incl
resistivity.incl
units.incl

# HTML_OUT
about.html
air_coil.html
AWG.html
bars.html
bugs.html
cgi-wcalc.html
coax.html
coplanar.html
coupled_microstrip.html
coupled_stripline.html
faq.html
gtk-wcalc.html
ic_microstrip.html
index.html
mex-wcalc.html
microstrip.html
news.html
obtaining.html
octave-wcalc.html
parallel_rc.html
parallel_rl.html
permeability.html
permitivity.html
projects.html
resistivity.html
sci-wcalc.html
stdio-wcalc.html
stripline.html
tech.html
units.html


*-man/air_coil_calc.html
*-man/air_coil_calc.shtml
*-man/air_coil_syn.html
*-man/air_coil_syn.shtml
*-man/bars_calc.html
*-man/bars_calc.shtml
*-man/coax_calc.html
*-man/coax_calc.shtml
*-man/coax_syn.html
*-man/coax_syn.shtml
*-man/coplanar_calc.html
*-man/coplanar_calc.shtml
*-man/coplanar_syn.html
*-man/coplanar_syn.shtml
*-man/coupled_microstrip_calc.html
*-man/coupled_microstrip_calc.shtml
*-man/coupled_microstrip_syn.html
*-man/coupled_microstrip_syn.shtml
*-man/coupled_stripline_calc.html
*-man/coupled_stripline_calc.shtml
*-man/coupled_stripline_syn.html
*-man/coupled_stripline_syn.shtml
*-man/ic_microstrip_calc.html
*-man/ic_microstrip_calc.shtml
*-man/ic_microstrip_syn.html
*-man/ic_microstrip_syn.shtml
*-man/left_column.incl
*-man/main_footer.incl
*-man/microstrip_calc.html
*-man/microstrip_calc.shtml
*-man/microstrip_syn.html
*-man/microstrip_syn.shtml
*-man/parallel_rc_p2s.html
*-man/parallel_rc_p2s.shtml
*-man/parallel_rc_s2p.html
*-man/parallel_rc_s2p.shtml
*-man/parallel_rl_p2s.html
*-man/parallel_rl_p2s.shtml
*-man/parallel_rl_s2p.html
*-man/parallel_rl_s2p.shtml
*-man/stripline_calc.html
*-man/stripline_calc.shtml
*-man/stripline_syn.html
*-man/stripline_syn.shtml
*-man/whatis.incl

