*~
Makefile.in
Makefile

# BUILT_INCL_FILES
AWG.incl
permeability.incl
permitivity.incl
resistivity.incl
units.incl

# HTML_OUT
about.html
air_coil.html
AWG.html
bars.html
bugs.html
cgi-wcalc.html
coax.html
coplanar.html
coupled_microstrip.html
coupled_stripline.html
faq.html
gtk-wcalc.html
ic_microstrip.html
index.html
mex-wcalc.html
microstrip.html
news.html
obtaining.html
octave-wcalc.html
parallel_rc.html
parallel_rl.html
permeability.html
permitivity.html
projects.html
resistivity.html
sci-wcalc.html
stdio-wcalc.html
stripline.html
tech.html
units.html

